@{
    ViewBag.Title = "Home Page";
}

<div class="col-md-12">
    <div class="box-outline">
        <div id="app"></div>
        <script src="~/vue-library/dist/project.js"></script>
    </div>
</div>